body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u220 {
  position:absolute;
  left:39px;
  top:27px;
  width:1280px;
  height:720px;
}
#u221 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u222 {
  position:absolute;
  left:541px;
  top:400px;
  width:155px;
  height:53px;
}
#u223 {
  position:absolute;
  left:2px;
  top:18px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:544px;
  top:405px;
  width:149px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u225 {
  position:absolute;
  left:718px;
  top:400px;
  width:155px;
  height:53px;
}
#u226 {
  position:absolute;
  left:2px;
  top:18px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:721px;
  top:405px;
  width:149px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
