body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1297px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u341 {
  position:absolute;
  left:17px;
  top:16px;
  width:1280px;
  height:720px;
}
#u342 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u343 {
  position:absolute;
  left:1092px;
  top:357px;
  width:127px;
  height:54px;
}
#u344 {
  position:absolute;
  left:2px;
  top:19px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u345 {
  position:absolute;
  left:1096px;
  top:363px;
  width:118px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u346 {
  position:absolute;
  left:74px;
  top:118px;
  width:137px;
  height:54px;
}
#u347 {
  position:absolute;
  left:2px;
  top:19px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348 {
  position:absolute;
  left:81px;
  top:124px;
  width:122px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
