body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1293px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u183 {
  position:absolute;
  left:13px;
  top:17px;
  width:1280px;
  height:720px;
}
#u184 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u185 {
  position:absolute;
  left:609px;
  top:430px;
  width:155px;
  height:53px;
}
#u186 {
  position:absolute;
  left:2px;
  top:18px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:612px;
  top:433px;
  width:149px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u188 {
  position:absolute;
  left:516px;
  top:336px;
  width:342px;
  height:74px;
}
#u189 {
  position:absolute;
  left:2px;
  top:29px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:525px;
  top:342px;
  width:326px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
